<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attraktioner</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>

<header>
    <a th:href="@{/attractions/add}" class="button">Tilføj Attraktion</a>
</header>

<section class="attractions-section">
    <div class="wrap">
        <table class="attraction-table">
            <caption>Turistattraktioner</caption>
            <thead>
            <tr>
                <th>Navn</th>
                <th>Beskrivelse</th>
                <th>Lokation</th>
                <th>Tags</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${attractions}">
                <td class="col-name">
                    <a th:href="@{/attractions/{id}(id=${a.id})}" th:text="${a.name}"></a>
                </td>
                <td th:text="${a.description}"></td>
                <td th:text="${a.location}"></td>
                <td>
                    <a th:href="@{/attractions/{id}/tags(id=${a.id})}" class="button"> Tags </a>
                    <a th:href="@{/attractions/{id}/edit(id=${a.id})}" class="button">Opdater</a>
                    <form th:action="@{/attractions/{id}/delete(id=${a.id})}" method="post"><button type="submit" class="button">Slet</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

</body>
</html>